/* ==========================================================================
   UU-Infolab specific
   ========================================================================== */

html {

  @include breakpoint($medium) {
    font-size: 12px;
  }

  @include breakpoint($large) {
    font-size: 14px;
  }

  @include breakpoint($x-large) {
    font-size: 16px;
  }

}

div.profiles {
  width: 100%;
}

figure.profile {
  width: 200px;
  float: left;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  margin-right: 10px;
}

figcaption.profile {
  width: 100%;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  padding: 10px 20px;
}

img.profilepic {
    width: 100%;
}

div.stop {
clear: both;
}

